/* h1 {
    color: orange;
    background-color: slategray;
    font-size: 30px;
    text-decoration: underline;
    font-family: arial;
    text-align: center;
}
p.error{
    color: rgb(226, 12, 12);
    
}
p.success{
    color: rgb(9, 247, 21);
}
p.success.feedback{
    border: 1px dashed burlywood;
}
#content{
    background-color: #ebebeb;
} */
/* div.error {
    color: rgb(109, 3, 109);
} */
/* a[href*="thenetninja"]{
    background-color: rgb(24, 243, 17);
    color: white;
    text-decoration: none;
    font-weight: bold;
    text-transform: uppercase;
}
a[href$="com"]{
    color: white;
    background: rgb(33, 194, 243);
    border: 2px solid rgb(81, 45, 167);
    text-decoration: none;
    
}
div{
    color: lightcoral;
    border:4px solid lightgreen ;
    margin: 30px;
    font-weight: bold;
}
div p{
    border: inherit;
    margin: inherit;
    color: crimson;
}
p{
    color: cyan;
} */
body, ul, li, h1, h2, a{
    margin: 0;
    padding: 0;
    font-family: arial;
}

header{
    background-color: #F63232;
    padding: 10px;
    text-align: center;
    position: fixed;
    width: 100%;
    z-index: 1;
    top: 0;
    left: 0;
}
.banner{
    position: relative;
}
.banner img{
    max-width: 100%;
 
}
.banner .welcome{
    background-color: #FEB614;
    color: white;
    padding: 30px;
    position: absolute;
    left: 0;
    top: 30%;
}
.banner h2{
    font-size: 74px;
} 
.banner h2 span{
    font-size: 1.3e;
}
header h1{
    color: white;
    border: 5px solid #ffffff;
    padding: 6px 12px;
    display: inline-block;
    border-radius: 35px;
}
nav{
    background-color: #F4F4F4;
    padding: 20px;
    position: sticky;
    top: 56px;
}
nav ul{
    white-space: nowrap;
    max-width: 1200px;
    margin: 0 auto;
}
nav li{
    width: 25%;
    display: inline-block;
    font-size: 24px;
}
nav li a{
    text-decoration: none;
    color: #4B4B4B;
}
nav li a.join{
    color: #F63232;
    
}
main{
    max-width: 100%;
    width: 1200px;
    margin: 80px auto;
    padding: 0 40px ;
    box-sizing: border-box;

}
article h2{
    color: #F63232;
    font-size: 48px;
}
article p{
    line-height: 2em;
    color: #4B4B4B;
}
.images{
    text-align: center;
    margin: 80px 0;
    white-space: nowrap;

}
.images li{
    display: inline-block;
    width: 40%;
    margin: 20px 5%;
    
}
.images li img{
    max-width: 100%;
}
section.join{
    background: #F4F4F4;
    text-align: center;
    padding: 60px 20px;
    color: #4B4B4B;
}
.join h2{
    font-size: 36px;

}
form input{
    margin: 20px 0;
    padding: 10px 20px;
    font-size: 24px;
    border-radius: 24px;
    border: 4px solid white;
    

}
footer{
    background: #F63232;
    color: white;
    padding: 10px;
    text-align: center;
}

/* pseudo classes */

nav li a:hover{
    text-decoration: underline;
}

.images li:hover{
    position: relative;
    top: -4px;
}
form input:focus{
    border: 4px dashed #4B4B4B;
    outline: none;
}
form input:valid{
    border: 4px solid #71d300;
}
article p::first-line{
    font-weight: bold;
    font-size: 1.2em;

}
section.join p::first-letter{
    font-size: 1.5em;
}
 p::selection{
    background-color: red;
    color: #ffffff;
}
p::after{
    /* content: '...'; */
}
/* responsive styles */

@media screen and (max-width: 1100px){
    .banner .welcome h2{
        font-size: 50px ;
    }
    nav li{
        font-size: 18px;
    }

}
@media screen and (max-width: 910px){
    .banner .welcome h2{
        font-size: 30px ;
    }

}
@media screen and (max-width: 580px){
    .banner .welcome{
        position: relative;
        text-align: center;
        padding: 6px;
    }

    .banner .welcome br{
        display: none;
    }
    .banner .welcome h2{
        font-size: 25px;
    }
    .banner .welcome span{
        font-size: 1em;
    }
    .images li{
        width: 100%;
        margin: 20px auto;
        display: block;
    }

}
@media screen and (max-width: 528px){
    nav li{
        font-size: 20px;
        
        display: block;
        width: 100%;
        margin: 12px 0;
    }
    header{
        position: relative;

    }
    nav{
        top: 0;
    }
    main article h2{
        font-size: 37px;
    }
}
